In [1]:
# https://www.kaggle.com/c/kaggle-survey-2019/notebooks
# https://www.kaggle.com/shivamb/spending-for-ms-in-data-science-worth-it
# https://www.kaggle.com/fatihbilgin/data-science-trends-in-2019
# https://www.kaggle.com/ibtesama/a-guide-for-aspiring-data-scientists

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as py
import plotly.express as px
import plotly.graph_objs as go
from plotly.subplots import make_subplots
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True) 

import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv(r"responses.csv")

In [4]:
data.head()

,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,...,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...
1,510,22-24,Male,-1,France,Master’s degree,Software Engineer,-1,"1000-9,999 employees",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,423,40-44,Male,-1,India,Professional degree,Software Engineer,-1,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,83,55-59,Female,-1,Germany,Professional degree,NaN,-1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,391,40-44,Male,-1,Australia,Master’s degree,Other,0,"> 10,000 employees",20+,...,NaN,NaN,NaN,NaN,NaN,Azure SQL Database,NaN,NaN,NaN,-1

In [5]:
data.isnull().sum()

Time from Start to Finish (seconds)        0
Q1                                         0
Q2                                         0
Q2_OTHER_TEXT                              0
Q3                                         0
                                       ...
Q34_Part_9                             19238
Q34_Part_10                            19191
Q34_Part_11                            18472
Q34_Part_12                            19430
Q34_OTHER_TEXT                             0
Length: 246, dtype: int64

In [16]:
questions = [f'Q{i}' for i in range(1,33)]

In [21]:
q = []
for i in questions:
    if i in data.columns:
        q.append(i)

In [22]:
q

['Q1',
 'Q2',
 'Q3',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q8',
 'Q10',
 'Q11',
 'Q14',
 'Q15',
 'Q19',
 'Q22',
 'Q23']

In [24]:
data = data[q]

In [25]:
data.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q10,Q11,Q14,Q15,Q19,Q22,Q23
0,What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,Does your current employer incorporate machine...,What is your current yearly compensation (appr...,Approximately how much money have you spent on...,What is the primary tool that you use at work ...,How long have you been writing code to analyze...,What programming language would you recommend ...,Have you ever used a TPU (tensor processing un...,For how many years have you used machine learn...
1,22-24,Male,France,Master’s degree,Software Engineer,"1000-9,999 employees",0,I do not know,"30,000-39,999",$0 (USD),"Basic statistical software (Microsoft Excel, G...",1-2 years,Python,Never,1-2 years
2,40-44,Male,India,Professional degree,Software Engineer,"> 10,000 employees",20+,"We have well established ML methods (i.e., mod...","5,000-7,499","> $100,000 ($USD)","Cloud-based data software & APIs (AWS, GCP, Az...",I have never written code,NaN,NaN,NaN
3,55-59,Female,Germany,Professional degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40-44,Male,Australia,Master’s degree,Other,"> 10,000 employees",20+,I do not know,"250,000-299,999","$10,000-$99,999","Local development environments (RStudio, Jupyt...",1-2 years,Python,Once,2-3 years

## Przeanalizujmy tylko pytania, które mają jedną część

'What is your age (# years)?'  
'What is your gender? - Selected Choice'   
'In which country do you currently reside?'  
'What is the highest level of formal education that you have attained or plan to attain within the next 2 years?'  
'Select the title most similar to your current role (or most recent title if retired): - Selected Choice'  
'What is the size of the company where you are employed?'  
'Approximately how many individuals are responsible for data science workloads at your place of business?'  
'Does your current employer incorporate machine learning methods into their business?'  
'What is your current yearly compensation (approximate $USD)?'  
'Approximately how much money have you spent on machine learning and/or cloud computing products at your work in the past 5 years?'   
'What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice'  
'How long have you been writing code to analyze data (at work or at school)?'  
'What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice'  
'Have you ever used a TPU (tensor processing unit)?'  
'For how many years have you used machine learning methods?'

In [31]:
for i in data.head(1):
    print(data.head(1)[i].values)

['What is your age (# years)?']
['What is your gender? - Selected Choice']
['In which country do you currently reside?']
['What is the highest level of formal education that you have attained or plan to attain within the next 2 years?']
['Select the title most similar to your current role (or most recent title if retired): - Selected Choice']
['What is the size of the company where you are employed?']
['Approximately how many individuals are responsible for data science workloads at your place of business?']
['Does your current employer incorporate machine learning methods into their business?']
['What is your current yearly compensation (approximate $USD)?']
['Approximately how much money have you spent on machine learning and/or cloud computing products at your work in the past 5 years?']
['What is the primary tool that you use at work or school to analyze data? (Include text response) - Selected Choice']
['How long have you been writing code to analyze data (at work or at school)?']
['What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice']
['Have you ever used a TPU (tensor processing unit)?']
['For how many years have you used machine learning methods?']

In [32]:
data.isnull().sum()

Q1        0
Q2        0
Q3        0
Q4      394
Q5      610
Q6     5715
Q7     6094
Q8     6490
Q10    7220
Q11    7467
Q14    4027
Q15    4090
Q19    5340
Q22    5514
Q23    5535
dtype: int64

In [33]:
data.shape

(19718, 15)